{% extends "igeretfigyelo_layout.html" %}
{% block content %}
<hr>
<div class="card mb-4">
	<div class = "card-header">
		<h4>Ígéretfigyelő - Karácsony Gergely <a href=https://azonnali.hu/cikk/20191016_karacsony-gergely-orul-hogy-szamonkerik-rajta-az-igereteit>ajánlásával</a>!</h4>
	</div>
   <div class="card-body">

   	<p>Az Ígéretfigyelő egy közösségi szerkesztésű hírszemle, ami a politikusok vállalásainak teljesülését követi nyomon az aktuális választási ciklusból eltelt idő arányában. Célja, hogy ezzel segítse a tudatos választókat a politikusok munkájának objektív megítélésében, valamint hogy ösztönözze a politikusokat a felelősségteljes és számonkérhető politizálásra.</p>
   	<div class="card" style="margin-bottom: 20px">
   		<div class="card-header">
   	<h6>Jelenleg az alábbi politikusok programjainak teljesülése követhető a rendszerben:</h4>
   </div>
<ul class="list-group list-group-flush">
   <li class = "list-group-item"><a href=/csoziklaszlo>Csőzik László (Polgármester, Érd, 2019-10-13 óta)</a></li>
   <li class = "list-group-item"><a href=/fulopzsolt>Fülöp Zsolt (Polgármester, Szentendre, 2019-10-13 óta)</a></li>
	<li class = "list-group-item"><a href=/karacsonygergely>Karácsony Gergely (Főpolgármester, Budapest, 2019-10-13 óta)</a></li>
   <li class = "list-group-item"><a href=/markizaypeter>Márki-Zay Péter (Polgármester, Hódmezővásárhely, 2019-10-13 óta)</a></li>
   <li class = "list-group-item"><a href=http://link.kemo.hu/?url=http://tomanovicsgergely.hu/post/mennyire-tartjak-be-igereteiket-a-magyar-politikusok-figyeljuk-es-kerjuk-szamon-egyutt?lang=hu><b>A te lakhelyed polgármesterének helye - kattints a részletekért!</b><a></li>
      </ul>
</div>
   	<p>Szeretnénk, ha idővel minél több politikus felkerülne az oldalra, ehhez segédszerkesztők jelentkezését várjuk!</p><p>Elérhetőségeink: <a href="http://facebook.com/igeretfigyelo">facebook.com/igeretfigyelo</a>, e-mail: <a href="mailto:igeretfigyelo.kemo@gmail.com">igeretfigyelo.kemo@gmail.com</a></p>
<p>A rendszert egy pártoktól független non-profit civil szervezet, a Kreatív Ellenállás Mozgalom (KEMO) fejlesztette és kezeli. A Mozgalom elsődleges célkitűzései a választók közéleti tudatosságának fejlesztése, a "post-truth" jelenség és a populizmus elleni harc, a tényszerű és objektív politizálás segítése, a fontos tények kiválogatása a mindent eluraló információs zajból, és az információk széles tömegekhez történő eljuttatása egyszerűen befogadható módon. Ha kíváncsi vagy, mi jön még, szeretettel várunk a Kreatív Ellenállók <a href=https://www.facebook.com/groups/392493951199350/>Facebook-csoportban</a>, ha pedig van kedved részt venni a mozgalom munkájában, <a href=https://docs.google.com/forms/d/e/1FAIpQLScdC5yJ9H4wtVRTjwWZ1K-HwD4XWsPEr6WKCOBL98Ovci5Xpw/viewform?usp=sf_link>töltsd ki ezt az űrlapot</a>, és hamarosan jelentkezünk további részletekkel.</p>
<p><small>(Igen, az O1G-őrület is tőlünk indult, és tervezünk is még pár ilyen húzást, most már <a href=https://o1g2.blog.hu/2019/03/17/ti_nem_unjatok_meg_ezt_az_egybites_ostoba_politizalast>nagyon is jól körülírható céllal</a>...)</small></p>

</div>
</div>
{% endblock %}

     